.container-pokecard-info {
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 calc(25% - 20px);
  max-width: calc(20% - 20px);
  cursor: pointer;
  min-width: 305px;
  background: linear-gradient(180deg, #e0e0e0, #bbbbbb, #e0e0e0);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container-pokecard-info:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.poke-card-img {
  height: 11rem;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
  min-height: 11rem;
}

.container-pokeCard {
  border-radius: 10px 10px 0 0;
}

.type-title > p {
  margin: 0;
  font-size: 20px;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(131, 130, 130);
    position: absolute;
    bottom: -5px;
    left: 0;
  }
}

/****** STATS DEL POKEMON****/
.details-pokemon-card {
  color: #222;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.details-column {
  width: 48%;
}

.details-item {
  margin: 10px 0;
}

.details-label {
  display: block;
  margin-bottom: 5px;
}

.details-value {
  display: block;
}

.poke-card h3 {
  font-size: 1.5rem;
  margin: 0;
  color: #ffffff;
  text-transform: capitalize;
}

.poke-card p {
  font-size: 1rem;
  margin: 5px 0;
  color: #ffffff;
}

.poke-card p strong {
  color: #ffffff;
}
.container-img {
  background-color: #050505;
  z-index: 2;
  border-radius: 0.7em;
  min-height: 180px;
}

.container-name {
  background-color: #ffffff;
  border: 1px solid #979797;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
}
.container-info {
  background-color: #ffffff;
  padding: 5px;
  margin: 5px;
  border-radius: 0.5em;
  color: #222;
  height: auto;
  font-family: "Nunito", sans-serif;
}

.button-team {
  margin: 0;
  transition: ease-in-out 0.3s;
  &:hover {
    transform: scale(1.2);
    transition: ease-in-out 0.3s;
  }
}

.name-grass,
.name-fire,
.name-water,
.name-steel,
.name-bug,
.name-normal,
.name-flying,
.name-fairy,
.name-poison,
.name-ground,
.name-dragon,
.name-dark,
.name-electric,
.name-psychic,
.name-fighting,
.name-rock,
.name-ghost,
.name-ice {
  font-size: 35px;
  margin: 0px;
}
/**********************/
.type-fire {
  background: linear-gradient(
    176.37deg,
    #f96d6f -32.26%,
    #e35825 22.55%,
    #e8ae1b 125.72%
  );
}

.type-water {
  background: linear-gradient(
    179.57deg,
    #133258 -70.14%,
    #1479fb 56.16%,
    #82b2f1 214.85%
  );
}

.type-grass {
  background: linear-gradient(
    178.92deg,
    #7ec6c5 0.92%,
    #abdac6 47.96%,
    #cae099 99.08%
  );
}

.type-electric {
  background: linear-gradient(
    179.75deg,
    #0c1395 -19.96%,
    #2b319b 43.67%,
    #7075d9 138.4%
  );
}

.type-ice {
  background: linear-gradient(
    177.03deg,
    #6fbedf -11.97%,
    #64cbf5 47.77%,
    #bdebfe 136.72%
  );
}

.type-fighting {
  background: linear-gradient(
    176.83deg,
    #96402a -8.78%,
    #f1613c 169.09%,
    #cb735d 242.33%
  );
}

.type-poison {
  background: linear-gradient(
    177.03deg,
    #5b3184 -11.97%,
    #a564e3 71.28%,
    #ce9bff 135.64%
  );
}

.type-ground {
  background: linear-gradient(
    179.75deg,
    #654008 -19.96%,
    #895c1a 43.67%,
    #d69638 138.4%
  );
}

.type-flying {
  background: linear-gradient(
    181.51deg,
    #735259 -6.44%,
    #bc6b7c 121.95%,
    #7c3f4c 186.11%
  );
}

.type-psychic {
  background: linear-gradient(
    179.75deg,
    #971b45 -19.96%,
    #c23867 43.67%,
    #cd7d98 138.4%
  );
}

.type-bug {
  background: linear-gradient(
    177.56deg,
    #62db60 -58.92%,
    #3bb039 16.57%,
    #aaffa8 209.53%
  );
}

.type-rock {
  background: linear-gradient(
    177.03deg,
    #7e7e7e -11.97%,
    #8d8d94 57.49%,
    #d3d3d3 135.64%
  );
}

.type-ghost {
  background: linear-gradient(
    177.03deg,
    #323569 -11.97%,
    #454aa8 57.49%,
    #787dda 135.64%
  );
}

.type-dragon {
  background: linear-gradient(
    179.75deg,
    #478a93 -19.96%,
    #56a4ae 43.67%,
    #a2bec1 138.4%
  );
}

.type-dark {
  background: linear-gradient(
    177.03deg,
    #030706 -11.97%,
    #0d1211 57.49%,
    #5a5e5d 135.64%
  );
}

.type-steel {
  background: linear-gradient(
    179.75deg,
    #5e736c -19.96%,
    #728881 43.67%,
    #a8a8a8 138.4%
  );
}

.type-fairy {
  background: linear-gradient(
    179.75deg,
    #971b45 -19.96%,
    #c23867 43.67%,
    #cd7d98 138.4%
  );
}

.type-normal {
  background: linear-gradient(
    181.51deg,
    #735259 -6.44%,
    #bc6b7c 121.95%,
    #7c3f4c 186.11%
  );
}

/********/

.name-fire {
  background: linear-gradient(
    176.37deg,
    #f96d6f -32.26%,
    #e35825 22.55%,
    #e8ae1b 125.72%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-water {
  background: linear-gradient(
    179.57deg,
    #133258 -70.14%,
    #1479fb 56.16%,
    #82b2f1 214.85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-grass {
  background: linear-gradient(
    178.92deg,
    #7ec6c5 0.92%,
    #abdac6 47.96%,
    #cae099 99.08%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-electric {
  background: linear-gradient(
    179.75deg,
    #0c1395 -19.96%,
    #2b319b 43.67%,
    #7075d9 138.4%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-ice {
  background: linear-gradient(
    177.03deg,
    #6fbedf -11.97%,
    #64cbf5 47.77%,
    #bdebfe 136.72%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-fighting {
  background: linear-gradient(
    176.83deg,
    #96402a -8.78%,
    #f1613c 169.09%,
    #cb735d 242.33%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-poison {
  background: linear-gradient(
    177.03deg,
    #5b3184 -11.97%,
    #a564e3 71.28%,
    #ce9bff 135.64%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-ground {
  background: linear-gradient(
    179.75deg,
    #654008 -19.96%,
    #895c1a 43.67%,
    #d69638 138.4%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-flying {
  background: linear-gradient(
    181.51deg,
    #735259 -6.44%,
    #bc6b7c 121.95%,
    #7c3f4c 186.11%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-psychic {
  background: linear-gradient(
    179.75deg,
    #971b45 -19.96%,
    #c23867 43.67%,
    #cd7d98 138.4%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-bug {
  background: linear-gradient(
    177.56deg,
    #62db60 -58.92%,
    #3bb039 16.57%,
    #aaffa8 209.53%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-rock {
  background: linear-gradient(
    177.03deg,
    #7e7e7e -11.97%,
    #8d8d94 57.49%,
    #d3d3d3 135.64%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-ghost {
  background: linear-gradient(
    177.03deg,
    #323569 -11.97%,
    #454aa8 57.49%,
    #787dda 135.64%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-dragon {
  background: linear-gradient(
    179.75deg,
    #478a93 -19.96%,
    #56a4ae 43.67%,
    #a2bec1 138.4%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-dark {
  background: linear-gradient(
    177.03deg,
    #030706 -11.97%,
    #0d1211 57.49%,
    #5a5e5d 135.64%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-steel {
  background: linear-gradient(
    179.75deg,
    #5e736c -19.96%,
    #728881 43.67%,
    #a8a8a8 138.4%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-fairy {
  background: linear-gradient(
    179.75deg,
    #971b45 -19.96%,
    #c23867 43.67%,
    #cd7d98 138.4%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-normal {
  background: linear-gradient(
    181.51deg,
    #735259 -6.44%,
    #bc6b7c 121.95%,
    #7c3f4c 186.11%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
